<div class="container ">
    <div class="card w-75 my-5 mx-auto">
        <div class="p-3 w-75 mx-auto">
            <form [formGroup]="adminRegisterForm">
                <div class="mb-2 text-center">
                    <h2 class="text-success">Admin Register Form</h2>
                </div>
                <div class="mb-2">
                    <label for="name" class="form-lable">Name</label>
                    <input type="text" formControlName="name" placeholder="Enter your name" class="form-control">
                    <p class="text-danger"
                        *ngIf="adminRegisterForm.get('name')?.hasError('required') && adminRegisterForm.get('name')?.touched ">
                        Name Required
                    </p>
                    <p class="text-danger"
                        *ngIf="adminRegisterForm.get('name')?.hasError('maxlength') && adminRegisterForm.get('name')?.dirty">
                        Name should not contain more than 15 letters
                    </p>
                    <p class="text-danger"
                        *ngIf="adminRegisterForm.get('name')?.hasError('minlength') && adminRegisterForm.get('name')?.dirty">
                        Name should contain more than 6 letters
                    </p>
                </div>
                <div class="mb-2">
                    <label for="email" class="form-lable">Email</label>
                    <input type="email" formControlName="email" placeholder="Enter your email" class="form-control">
                    <p class="text-danger"
                        *ngIf="adminRegisterForm.get('email')?.hasError('required') && adminRegisterForm.get('email')?.touched ">
                        Email Required
                    </p>
                    <p class="text-danger"
                        *ngIf="adminRegisterForm.get('email')?.hasError('email') && adminRegisterForm.get('email')?.touched ">
                        Enter valid email address
                    </p>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-lable">Password</label>
                    <input type="text" formControlName="password" placeholder="Enter your password"
                        class="form-control">
                    <p class="text-danger"
                        *ngIf="adminRegisterForm.get('password')?.hasError('required') && adminRegisterForm.get('password')?.touched ">
                        Password Required
                    </p>
                </div>
                <div class="mb-2">
                    <label for="mobile" class="form-lable">Mobile</label>
                    <input type="number" formControlName="mobile" placeholder="Enter your 10 digits mobile number"
                        class="form-control">
                    <p class="text-danger"
                        *ngIf="adminRegisterForm.get('mobile')?.hasError('required') && adminRegisterForm.get('mobile')?.touched ">
                        Mobile number Required
                    </p>
                    <p class="text-danger"
                        *ngIf="(adminRegisterForm.get('mobile')?.hasError('pattern') )&& adminRegisterForm.get('mobile')?.dirty">
                        Mobile number must contain 10 digits
                    </p>
                </div>
                <div class="mb-2">
                    <label for="profile" class="form-lable">Profile Photo</label>
                    <input type="file" (change)="uploadProfile($event)" name="profile"
                        placeholder="Upload Profile photo" required class="form-control">
                    <p class="text-danger" *ngIf="image === '' ">
                        upload profile picture
                    </p>
                </div>
                <div *ngIf="image">
                    <img src={{image}} width="100" height="100" alt="">
                </div>
                <div class="mb-2">
                    <p>Already have account ? click here to <a class="text-decoration-none"
                            routerLink="/login"><b><a routerLink="/adminlogin">Login</a></b></a></p>
                </div>

                <div class="mb-2">
                    <button class="btn btn-primary" type="submit" [disabled]="adminRegisterForm.invalid" (click)="AdminRegister()">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>