<div class="container mt-5 ">
   <div class="row">
       <ng-container *ngFor="let product of allProducts  ">
           <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
               <div class="card h-100">
                   <div class="card-header">
                       <img [src]="product.image" height="150" class="card-img-top" alt="">
                   </div>
                   <div class="card-body">
                       <p>{{product.title}}</p>
                   </div>
                   <div class="card-footer d-flex gap-2 justify-content-around">
                       <button class="btn btn-primary" (click)="addtocart(product)">Add to cart</button>
                       <button class="btn btn-warning" routerLink="/product/{{product.id}}">View Product</button>

                   </div>
               </div>
           </div>
       </ng-container>
   </div>
</div>

