<div class="container  ">
    <div class="card w-75 my-5 mx-auto">
        <div class="ms-auto p-2">
            <button class="btn btn-dark" routerLink="/adminlogin/adminhome">Go to Products List</button>
        </div>
        <div class="p-3 w-75 mx-auto">
            <form [formGroup]="AddProductForm">
                <div class="mb-2 text-center">

                    
                    <h2 class="text-warning" >Add Product Form</h2>
                </div>
                <div class="mb-2">
                    <label for="productName" class="form-lable">Product Name</label>
                    <input type="text" formControlName="productName" placeholder="Enter your name" class="form-control">
                    <p class="text-danger"
                        *ngIf="AddProductForm.get('productName')?.hasError('required') && AddProductForm.get('productName')?.touched ">
                        productName Required
                    </p>
                    <p class="text-danger"
                        *ngIf="AddProductForm.get('productName')?.hasError('maxlength') && AddProductForm.get('productName')?.dirty">
                        Name should not contain more than 15 letters
                    </p>
                    <p class="text-danger"
                        *ngIf="AddProductForm.get('productName')?.hasError('minlength') && AddProductForm.get('productName')?.dirty">
                        Name should contain more than 6 letters
                    </p>
                </div>
                <div class="mb-2">
                    <label for="category" class="form-lable">category</label>
                    <input type="text" formControlName="category" placeholder="Enter your category" class="form-control">
                    <p class="text-danger"
                        *ngIf="AddProductForm.get('category')?.hasError('required') && AddProductForm.get('category')?.touched ">
                        category Required
                    </p>
                   
                </div>
                <div class="mb-2">
                    <label for="price" class="form-lable">price</label>
                    <input type="number" formControlName="price" placeholder="Enter your price"
                        class="form-control">
                    <p class="text-danger"
                        *ngIf="AddProductForm.get('price')?.hasError('required') && AddProductForm.get('price')?.touched ">
                        price Required
                    </p>
                </div>
                <div class="mb-2">
                    <label for="quantity" class="form-lable">quantity</label>
                    <input type="number" formControlName="quantity" placeholder="Enter your 10 digits quantity number"
                        class="form-control">
                    <p class="text-danger"
                        *ngIf="AddProductForm.get('quantity')?.hasError('required') && AddProductForm.get('quantity')?.touched ">
                        quantity number Required
                    </p>
                  
                </div>
                <div class="mb-2">
                    <label for="image" class="form-lable">image Photo</label>
                    <input type="file" (change)="uploadProductImage($event)" name="image"
                        placeholder="Upload image photo" required class="form-control">
                    <p class="text-danger" *ngIf="image === '' ">
                        upload product image picture
                    </p>
                </div>
                <div *ngIf="image">
                    <img src={{image}} width="100" height="100" alt="">
                </div>
                <div class="my-2">
                    <button class="btn btn-primary" type="submit" [disabled]="AddProductForm.invalid" (click)="AddProduct()">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>